
.contenedor_listas {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 100px;
}

.contenedor_lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.contenedor_lista h1 {
    margin: 0;
    align-self: center;
    font-size: 3em;
    color: var(--dark);
}

.materias {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1 1;
    gap: 20px;
}

.materia {
    background-color: var(--dark);
    padding: 1em;
    min-width: 200px;
}
.materia h3 {
    color: var(--white);
    border-bottom: 2px solid var(--gold);
}

@media(min-width:540px) {
    .materias {
        grid-template-columns: 1fr 1fr;
    }
    .contenedor_lista h1 {
        font-size: 5em;
    }
}

@media(min-width:1000px){
    .contenedor_lista {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    .contenedor_lista h1 {
        writing-mode: vertical-rl;
    }
}

@media(min-width:1250px) {
    .materias {
        grid-template-columns: 1fr 1fr 1fr;
    }
}