
.proyectos_grid {
    column-count: 1;
    column-gap: 3em;
    width: 100%;
    height: auto;
    margin: 40px auto;
}

.card {
    height: auto;
    width: auto;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
}

/**************
Media Queries
**************/

@media(min-width:525px) {
    .proyectos_grid {
        column-count: 2;
    }
}

@media(min-width:1000px) {
    .proyectos_grid {
        column-count: 3;
    }
}