.proyectos {
    width: 100%;
    padding: 30px 50px;
}

.proyectos_grid {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "chat     chat"
        "pastry   tenzies"
        "pastry   profile"
        "picture  profile"
        "picture  color_picker"
        "supplies supplies"
        "quiz     .";
    width: 100%;
    gap: 10px;
    margin: auto;
}

.images {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 5px;
}

.proyectos > hr {
    border: 1px dotted var(--gold);
}

@media(min-width:900px) {
    .proyectos_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: min-content;
        grid-template-areas: 
        "chat     chat          tenzies"
        "pastry   supplies      supplies"
        "pastry   profile       color_picker"
        "picture  profile       quiz"
        "picture  .             .";
    }
}


/****************
GRID-LAYOUT
*****************/
.pastry {
    grid-area: pastry;
    align-self: center;
}
.chat {
    grid-area: chat;
}
.quiz {
    grid-area: quiz;
}
.picture {
    grid-area: picture;
    align-self: center;
}
.supplies {
    grid-area: supplies;
}
.profile {
    grid-area: profile;
}
.color_picker {
    grid-area: color_picker;
}
.tenzies {
    grid-area: tenzies;
}

@media(min-width:900px){
    .picture {
        align-self: start;
    }
}