/* .proyectos {
    width: 100%;
    padding: 30px 50px;
} */

.proyectos_grid {
    column-count: 1;
    width: 100%;
    height: auto;
    margin: 40px auto;
}

.card {
    height: 100%;
    width: auto;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
}

/**************
Media Queries
**************/

@media(min-width:500px) {
    .proyectos_grid {
        column-count: 2;
    }
}

@media(min-width:1000px) {
    .proyectos_grid {
        column-count: 3;
    }
}

@media(min-width:1555px) {
    .proyectos_grid {
        width: 1237px;
    }
}