:root{
    --dark: #533747;
    --font-light: #cce1e2;
    --font-dark: #7c7285;
    --gold: #f3d83e;
    --light: #6A6B83;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0.2)
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--light);
    color: whitesmoke;
}

h1 {
    margin: 0;
    color: var(--gold);
}

@media(min-width:660px) {
    body {
        flex-direction: row;
    }
}