.project_card {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    position: relative;
}



.image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    position: relative;
    z-index: 49;
}



/**************
Info
**************/

.titleholder {
    background-color: inherit;
}

.title {
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
    background-color: inherit;
    border-radius: 8px 8px 0 0;
    padding: .5em 1em;
    z-index: 50;
}

.info {
    position: relative;
    color: var(--white);
    background-color: inherit;
    display: flex;
    bottom: 0;
    flex-direction: column;
    overflow: hidden;
    padding: 1em;
    gap: 15px;
}

.info_tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.info_tag {
    background-color: rgba(255, 255, 255, 0.1);
    padding: .2em .8em;
    border-radius: 5px;
    font-size: .8em;
    color: var(--gold);
}

/**************
Buttons
**************/

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons a {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1 1 auto;
    padding: 1em 0;
    justify-content: center;
}

.github {
    background-color: black;
}

.website {
    background-color: royalblue;
}



.image {
    background-color: rgba(255, 255, 255, 0.1);
}

/*************
Backgrounds
*************/

.pastry {
    background-color: var(--blue);
}

.next_auth {
    background-color: var(--dark-cyan);
}

.chat {
    background-color: var(--purple);
}

.quiz {
    background-color: var(--dark-green);
}

.pics {
    background-color: var(--dark-red);
}

.supplies {
    background-color: var(--cyan);
}

.color_picker {
    background-color: var(--green);
}

.tenzies {
    background-color: var(--dark-cyan);
}

.chat > .image {
    padding: 40px;
}

/*************
Media Queries
*************/

@media(min-width: 500px) {
    .chat > .image {
        padding: 20px;
    }
}

@media(min-width: 660px) {
    .buttons {
        display: flex;
        justify-content: space-around;
        padding: 1em 1em;
        gap: 5px;
    }
    .buttons a {
        padding: .5em 1.2em;
        border-radius: 6px;
    }
}

@media(min-width: 1000px) {
    .image {
        padding: 30px;
    }
}
