
.main_title {
    margin-bottom: 20px;
}

.contenedor_listas {
    margin-top: 40px;
    width: 100%;
}

.contenedor_listas h2 {
    color: var(--white);
    text-decoration: 2px underline var(--gold);
}

.contenedor_listas h4 {
    font-weight: normal;
    color: var(--gold);
}

.listas {
    color: var(--white);
}

.listas,
.listas li,
.listas ul {
    break-inside: avoid-column;
}

.listas > ul {
    margin-top: 0;
    margin-bottom: 20px;
}

.listas li::marker {
    color: var(--gold);
}

.title {
    font-size: 1.2em;
    margin: 0;
}


@media(min-width: 955px) {
    .contenedor_listas {
        column-count: 2;
        column-gap: 2rem;
    }
}

@media(min-width: 1340px) {
    .listas {
        column-count: 2;
    }
}